mqtt.server=tcp://hostname:port
mqtt.client=otaupdater
mqtt.user=myuser
mqtt.password=secret
mqtt.query.wait=5000
mqtt.cmd.wait=200
mqtt.topic.prefix=nodemcu/
mqtt.topic.suffix.state=/state
mqtt.topic.suffix.version=/version
mqtt.topic.suffix.otacmd=/otacmd
mqtt.topic.suffix.otafile=/otafile
lua.folder=src/main/lua